:root {
    --backroundcolor: white;
    --logoclolor: #d49466;
    --menucolor: black;
    --hovercolor: #d49466;


      }
body{
          margin: 0;
          font-family: 'Noto Sans KR';
      }
a{
          text-decoration: none;
          color: var(--menucolor);
 }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backroundcolor);
    padding: 8px 12px;
        }
.navbar_logo a{
font-size: 36px;
color: var(--logoclolor);
            }
.navbar_menu{
display: flex;
list-style: none;
padding-left: 0;
            }
.navbar_menu li{
   
padding: 8px 12px;

                }
.navbar_menu li:hover
{
    background-color: var(--hovercolor);
    border-radius: 4px;
}
.navbar_login{
display: flex;
padding-left: 0;
list-style: none;
            }
.navbar_login li{
padding :8px 12px;
               }
.top{
margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    justify-content: space-between;
    padding-left: 250px;
    padding-right:250px;
}
.top > h2{
    text-align: center;
}
.table > :not(caption) > * > * {
    
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    justify-content: space-between;
    padding-left: 250px;
    padding-right:250px;
  }
  button{
    
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        background-color: greenyellow
  }
  
  
/*@media screen and(max-width: 768px){
.navbar{
flex-direction: column;
       }
.navbar_menu{
flex-direction: column;
       }
                                     }
*/              